[submodule "aether-bootstrap"]
  path = aether-bootstrap
  url = https://github.com/djmoran64/aether-bootstrap.git
  branch = clinics
  ignore = all

# Execute `git submodule update --remote` to update it
