[submodule "aether-bootstrap"]
  path = aether-bootstrap
  url = https://github.com/eHealthAfrica/aether-bootstrap.git
  branch = feat/prepare-1.3
  ignore = all

# Execute `git submodule update --remote` to update it
